@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

html,
body {
  width: 100vw;
  height: 100vh;
}

body {
  color: #333;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--ff-body, "Montserrat, sans-serif");
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

* {
  border: none;
}

.boxsizingBorder {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
